@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');

@layer utilities {
    @variants responsive {
        ::-webkit-scrollbar {
            display: none;
        }
        :root {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    }
}
.imgscroll{
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.imgscrolly{
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
}

input {
    border-radius: 0;
}
input[type='search'] {
    -webkit-appearance: none;
}
input {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px #e9e9e9 solid;
}
input::placeholder {
    color: #3f3f3f;
}
input:focus::placeholder {
    color: transparent;
}
textarea {
    background-color: rgba(0, 0, 0, 0);
}

button {
    font-size: 12px;
    text-transform: uppercase;
    z-index: 50;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1rem;
    height: 1rem;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(0.075em);
    display: grid;
    place-content: center;
  }

  input[type="radio"]::before {
    content: "";
    background-color: black;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  }

  input[type="radio"]:checked::before {
    transform: scale(1);
  }

.navbtn {
    color: white;
    mix-blend-mode: difference;
}


.test {
    height: clamp(359px, 77.93svh, 624px);
}

/* Tailwind Styles */
.hover-underline {
    @apply after:absolute after:bottom-[-2px] after:left-0 after:block after:w-full after:bg-white after:mix-blend-difference after:h-[1px] after:scale-x-0 after:transition-transform after:duration-300 after:ease-in-out after:hover:scale-x-100 after:origin-left
}
.hover-underline-black {
    @apply after:absolute after:bottom-[-2px] after:left-0 after:block after:w-full after:bg-black after:mix-blend-difference after:h-[1px] after:scale-x-0 after:transition-transform after:duration-300 after:ease-in-out after:hover:scale-x-100 after:origin-left
}
.hover-underline-grey {
    @apply after:absolute after:bottom-[-2px] after:left-0 after:block after:w-full after:bg-[#3F3F3F] after:mix-blend-difference after:h-[1px] after:scale-x-0 after:transition-transform after:duration-300 after:ease-in-out after:hover:scale-x-100 after:origin-left
}

.btn {
    @apply transition hover:text-white hover:bg-black active:bg-[#3F3F3F] active:text-white 
}
.btnDis {
    @apply transition disabled:text-[#E9E9E9] disabled:border-[#E9E9E9] 
}

.flex-center {
    @apply flex justify-center items-center;
}

.flex-start {
    @apply flex justify-start items-start;
}

.flex-end {
    @apply flex justify-end items-center;
}

.flex-between {
    @apply flex justify-between items-center;
}
